/*/////// General //////////*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255,1);
  font-family: 'GothamRoundedLight', Arial, Helvetica, sans-serif;
  font-family: 'GothamRoundedBook', Arial, Helvetica, sans-serif;
  font-family: 'GothamRoundedMedium', Arial, Helvetica, sans-serif;
  color: #717770;
}

a {
  color: #717770;
  font-size: 1em;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #9f9f9e;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  /*border-bottom: 1px dashed grey;*/
}

/*/////// Bubbles //////////*/
#bubbles {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  display: flex;
  margin: 0;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.gi:hover {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

/*/////// Content //////////*/
#content {
  position: relative;
  width: 30%;
  overflow-y: scroll;
  background: rgba(247,247,247,0.4);
  top: 15%;
  left: 65%;
  padding: 1%;
}

/*/////// Hidden Content //////////*/
#hidden {
  border-top: 1px solid grey;
  width: 100%;
  text-align: left;
  font-size: 0.8em;
  position: relative;
}

/*/////// Buttons //////////*/
#commands {
  position: relative;
  text-align: center;
}

.btn {
  background: #dadad9;
}

#cat, #reg, #top {
  width: 100%;
  display:inline-block;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*/////// Tips //////////*/
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: #fff;
  color: #000;
  border: 1px solid #dadad9;
  font-size: 12px;
  box-shadow: 1px 3px 1px #dadad9;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip:after { /* small triangle */
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/*/////// Legend //////////*/
rect {
  stroke-width: 2;
}

.legend {
  font-size: 0.8em;
}

/*/////// AXIS //////////*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #444;
  stroke-width: 1.5px;
}
